.headerStyle {
    background-color: #fff;
    padding: 0;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.fixedPosition {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 20px;
}

.footer {
    text-align: center;
    background-color: #fff;
}

a.navColor {
    color: '#fff';
}

.ShoppingMallContainer {
    height: 588px;
}

.ShoppingMallRight {
    position: fixed;
    top: 80px;
    right: 20px;
}

.ant-modal-title {
    text-align: center;
}

.IconFontStyle {
    position: absolute;
    left: 80px;
    top: -39px;
    font-size: 20px;
}

.ant-tooltip-inner {
    background-color: #fff;
    color: #555;
}

.ant-tooltip-content .ant-tooltip-arrow::before {
    background-color: #fff;
}